/* -------------------------------------- */
/* 다크 모드 (기본값) */
/* -------------------------------------- */
:root, [data-theme='dark'] {
    /* 배경 및 전반적인 레이아웃 색상 */
    --bg-color: #201E1E; /* 메인 바탕색 */
    --main-bg-color: #121212; /* 내부 컨테이너 등 */
    --header-bg: rgba(0, 0, 0, 0.3); /* 헤더 블러 배경 */

    /* 텍스트 색상 */
    --text-color: #ffffff;
    --sub-text-color: #cccccc; /* 서브타이틀, 설명글 */

    /* 강조 및 요소 색상 */
    --border-color: rgba(255, 255, 255, 0.2);

    /* 그림자 포인트 컬러 */
    --accent-shadow-show: #68a063;
    --accent-shadow-cast: #a06380;
    --accent-shadow-hype: #a08263;
    --accent-shadow-link: #6370a0;
}

/* -------------------------------------- */
/* 라이트 모드 */
/* -------------------------------------- */
[data-theme='light'] {
    /* 배경 및 전반적인 레이아웃 색상 */
    --bg-color: #ffffff; /* 메인 바탕색 */
    --main-bg-color: #f0f0f5; /* 내부 컨테이너 등 */
    --header-bg: rgba(255, 255, 255, 0.7); /* 헤더 블러 배경 */

    /* 텍스트 색상 */
    --text-color: #000000;
    --sub-text-color: #555555; /* 서브타이틀, 설명글 */

    /* 강조 및 요소 색상 */
    --border-color: rgba(0, 0, 0, 0.2);
}

/* body에 기본 테마 변수 적용 */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
}

/* 다크 모드일 때 배경 이미지의 투명도 */
[data-theme='dark'] body::before {
    opacity: 0.1;
}
/* 라이트 모드일 때 배경 이미지의 투명도 */
[data-theme='light'] body::before {
    opacity: 0.03;
}