body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* -------------------------------------- */
/* 다크/라이트 모드 테마 변수 정의 */
/* -------------------------------------- */

/* 라이트 모드 변수 (기본값) */
.light-theme {
  /* 배경 및 전반적인 레이아웃 색상 */
  --bg-color: #f0f0f5;
  --main-bg-color: #ffffff;
  --section-bg-color: #f5f5f5;

  /* 텍스트 색상 */
  --text-color: #121212;
  --sub-text-color: #6a6a6a;

  /* 강조 및 요소 색상 */
  --primary-color: #121212; /* 토글 버튼 등 */
  --secondary-color: #f33a6a; /* 링크, 호버 등 */
  --border-color: #e0e0e0;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

/* 다크 모드 변수 */
.dark-theme {
  /* 배경 및 전반적인 레이아웃 색상 */
  --bg-color: #0b0b0b;
  --main-bg-color: #121212;
  --section-bg-color: #1a1a1a;

  /* 텍스트 색상 */
  --text-color: #f0f0f0;
  --sub-text-color: #b0b0b0;

  /* 강조 및 요소 색상 */
  --primary-color: #f0f0f0; /* 토글 버튼 등 */
  --secondary-color: #ff4d6d; /* 링크, 호버 등 */
  --border-color: #333333;
  --shadow-color: rgba(255, 255, 255, 0.1);
}

/* 전역 스타일*/
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s; /* 테마 전환 애니메이션 */
}

/* 기본 색상을 변수로 교체 */
.header {
  background: var(--main-bg-color);
  border-bottom: 1px solid var(--border-color);
}
.header a {
  color: var(--text-color);
}
.header a:hover {
  color: var(--secondary-color);
}
.footer {
  background: var(--main-bg-color);
  border-top: 1px solid var(--border-color);
}
/*나중에 이거 보고 세부 css들도 전부 변수 바꿔줘야함 아직 못함*/